.grid thead th {
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.grid thead th.sorted {
    font-style: italic;
    border-bottom: 2px solid #777;
}

.grid thead th:hover {
    border-bottom: 2px solid #337AB7;
}

.grid tbody .group-label {
    background-color: #F9F9F9;
    font-size: 11px;
    line-height: 10px;
    font-weight: bold;
}

.grid .table tbody + tbody {
    border-top: none;
}